<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <% if product.image.attached? %>
      <%= image_tag product.image, class: "card-img-top" %>
    <% else %>
      <%= image_tag 'no_image.png', class: "card-img-top", alt: "no-image" %>
    <% end %>
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= product.name %></h5>
        <!-- Product price-->
        <%= product.price %>円
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= link_to '編集', edit_admin_product_path(product), class: "btn btn-primary mt-auto" %>
        <%= link_to '削除', [:admin, product], data: { turbo_confirm: "商品「#{product.name}」を削除します。よろしいですか？", turbo_method: :delete }, class: "btn btn-outline-dark mt-auto" %>
      </div>
    </div>
  </div>
</div>
